:root {
  --primary-color: #0070f3;
  --background-color: #f0f0f0;
  --text-color: #333;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100wh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}